<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../mainPage/head %>
    </head>
    <body class="container">

        <div class="jumbotron">
            <h1>Update Workshop</h1>
            <form action="/update-workshop" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= workshop.name %>" placeholder="Workshop Name" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" value="<%= workshop.description %>" placeholder="Give a description for your workshop" required>
                </div>
                <input type="text" class="form-control" id="oldName" name="oldName" value="<%= workshop.name %>" hidden>
                <button type="submit" class="btn btn-primary">Save</button>
                <a type="button" class="btn btn-secondary" href="/">Cancel</a>
            </form>
        </div>

        <footer>
            <% include ../mainPage/footer %>
        </footer>

    </body>
</html>